$darkBlue: #126FB7;
$lightBlue: #C3E5F4;
$midBlue: #62a7db;
$skyBlue: #83CEE2;
$yellow: #EDC600;
$lightYellow: #feea84;
$alphaDarkBlue: rgba(18, 11, 183, 0.8);
$montserrat: "Montserrat", sans-serif;
$roboto: 'Roboto Mono', monospace;
